/* css/style-login.css */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

form {
  background: white;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.08);
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#mensagem {
  text-align: center;
  color: red;
}

.link-cadastro {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.link-cadastro a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.link-cadastro a:hover {
  text-decoration: underline;
}

